{% trans_default_domain 'FOSUserBundle' %}

{% include 'topnav.html.twig' %}

<br>
<br>
<br>
<br>
<div class="fos_user_user_show">
    <h2>{{ 'profile.show.username'|trans }}: {{ user.username }}</h2>
    <h3>{{ 'profile.show.email'|trans }}: {{ user.email }}<h3>
    <h4> Your tasks:</h4>
            <table class="table table-condensed" border="solid">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Task deadline</th>
                    <th>Task priority</th>
                    <th>Task category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            <p> {% for task in user.tasks %} </p>
                    <td> {{ task.id }} </td>
                    <td> {{ task.name }}   </td>
                    <td> {{ task.description }} </td>
                    <td> {{ task.deadline | date ("Y/m/d h:i:s") }} </td>
                    <td> {{ task.priority }} </td>
                    <td> {{ task.category }}</td>
                    <td><a class="btn btn-default" href="{{ url('task_edit', {'id':task.id})}}">Edit</a></td>
                    <td><a class="btn btn-default" href="{{ url('task_delete', {'id':task.id})}}">Delete</a></td>
                </thead>
                <tbody>
            {% else %}

        <p> You have no task yet.</p>
        {% endfor %}
                </tbody>
            </table>

        <br>
            <li>
            <a href="{{  path ('addTask', {'id' : user.id}) }}"> Want to add new task? </a>
            </li>
</div>
